*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    text-decoration: none;
    background-color: transparent;
    list-style: none;
    font-weight: normal; 
    
}
$dark: #202020;
$light: #fff;
$main: #ff0000;
$second: #0085FF;
$context: #939393;
$active: #EF5DA8;
$placeholder: #808080;
$stroke: #f7f7f7;
$green:#76B489;
$pink:#ffbbf4;
$orange: #ffb2b2;
$sun:#f8e290;
$photo:#e0e0e0;
$brown:rgb(254, 205, 55);
$fiol:#7d31ff;
$greendy:#41e18f;
$contain:contain;
$cover:cover;

