@font-face {
    font-family: "Ubun";
    src: url(../fonts/Ubuntu-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: "Ubun";
    src: url(../fonts/Ubuntu-Medium.ttf);
    font-weight: 500;
}
@font-face {
    font-family: "Ubun";
    src: url(../fonts/Ubuntu-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: "Ubun";
    src: url(../fonts/Ubuntu-Light.ttf);
    font-weight: 300;
}
@font-face {
    font-family: "Mon";
    src: url(../fonts/Montserrat-VariableFont_wght.ttf);
    font-weight:700;
}
@font-face {
    font-family: "Mon";
    src: url(../fonts/Montserrat-VariableFont_wght.ttf);
    font-weight:600;
}
@font-face {
    font-family: "Mon";
    src: url(../fonts/Montserrat-VariableFont_wght.ttf);
    font-weight:500;
}
@font-face {
    font-family: "Mon";
    src: url(../fonts/Montserrat-VariableFont_wght.ttf);
    font-weight:300;
}
