*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    text-decoration: none;
    background-color: transparent;
    list-style: none;
    font-weight: normal; 
}
    $dark:#202020;
    $light:#fff;
    $main:#ff3d00;
    $second:#0085ff;
    $context:#939393;
    $active:#ef5da8;
    $placeholder:#808080;
    $stroke:#e3e3e3;
    $bigtext:900;
    $smalltextp:400;
    $pdark: #000000;
    $psilver:#6a6a6a;
    $fwbig:24.38px;
    $linehsmall:14.63px;


